* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 70%;
  aspect-ratio: 2/1;
  border: solid 1px;
  position: relative;
  overflow: hidden;
}

.pillar {
  width: 10%;
  height: 45%;
  background: red;
  position: absolute;
  top: 0;
  right: -10%;
}

.pillar-bottom {
  bottom: 0;
  top: auto;
}

#bird {
  width: 5%;
  aspect-ratio: 1/1;
  background: blue;
  position: absolute;
  bottom: 45%;
  left: 10%;
  z-index: 1;
}

h1 {
  position: fixed;
  top: 0;
  user-select: none;
}

#text-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
}

#restart-prompt{
  animation: pulse 1.5s linear infinite;
  font-style: italic;
}

.hidden{
  visibility: hidden;
}

.loss-animation{
  animation: wiggle-and-turn-red 0.5s linear;
}


@keyframes moveLeft {
  to {
    right: 100%;
  }
}

@keyframes pulse {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes wiggle-and-turn-red {
  0%{
    transform: translateX(-10%);
  }
  25%{
    transform: translateX(10%);
    background: red;
  }
  50%{
    transform: translateX(-10%);
    background: red;
  }
  75%{
    transform: translateX(10%);
    background: red;
  }
  100%{
    transform: translateX(0);
  }
}