* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", system-ui;
}

#game {
  container-type: inline-size;
  width: 70%;
  aspect-ratio: 2/1;
  border: solid 1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#click-to-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pillar {
  width: 10%;
  height: 45%;
  background: red;
  position: absolute;
  top: 0;
  right: -10%;
  z-index: -1;
}

.pillar-bottom {
  bottom: 0;
  top: auto;
}

#bird {
  width: 5%;
  height: 10%;
  background: rgb(52, 52, 255);
  position: absolute;
  bottom: 45%;
  left: 10%;
  /* border: solid 0.4cqw black;
  border-radius: 8%; */
  /* background-image: url("bird.png");
  background-size: 150% 150%;
  background-position: center; */
}

#bird-img {
  position: relative;
  width: 140%;
  aspect-ratio: 1/1;
  transform: translate(-14%, -14%);
  user-select: none;
}

#bird-wing {
  position: absolute;
  width: 50%;
  height: 18%;
  top: 50%;
  left: -20%;
  background-color: rgb(58, 78, 255);
  border-radius: 0.2cqw;
  border: solid 0.1cqw black;
  transform-origin: right center;
}

.flap {
  animation: flap 0.3s ease-in-out 1;
}

h3 {
  font-size: 2.2cqw;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5% 0 0 1%;
  user-select: none;
}

#text-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
}

.game-text {
  font-size: 2cqw;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  user-select: none;
}

.winking-prompt {
  animation: pulse 1.5s linear infinite;
}

.hidden {
  visibility: hidden;
}

.loss-animation {
  animation: wiggle-and-turn-red 0.5s linear;
}

@keyframes moveLeft {
  to {
    right: 100%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wiggle-and-turn-red {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(10%);
    filter: grayscale(1) sepia(1) hue-rotate(-50deg) saturate(6);
  }
  50% {
    transform: translateX(-10%);
    filter: grayscale(1) sepia(1) hue-rotate(-50deg) saturate(6);
  }
  75% {
    transform: translateX(10%);
    filter: grayscale(1) sepia(1) hue-rotate(-50deg) saturate(6);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flap {
  0% {
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
