* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 70%;
  aspect-ratio: 2/1;
  border: solid 1px;
  position: relative;
}

.pillar {
  width: 10%;
  height: 45%;
  background: red;
  position: absolute;
  top: 0;
  right: -10%;
}

.pillar-bottom {
  bottom: 0;
  top: auto;
}

#bird {
  width: 5%;
  aspect-ratio: 1/1;
  background: blue;
  position: absolute;
  bottom: 45%;
  left: 10%;
}

@keyframes moveLeft {
  to {
    right: 100%;
  }
}

#mouse-position {
  position: fixed;
  top: 0;
}
